.TagP {
  text-align: center;
}

.SearchDiv {
  display: flex;
}

.ContainerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80vw;
}

.SearchInput {
  border-radius: 10px;
}

.MenuAndCards {
  display: flex;
  margin-top: 125px;
}
