.TagP {
  text-align: center;
}

.ContainerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.SearchInput {
  border-radius: 10px;
}

.MenuAndCards {
display: flex
}
.MenuAndCards nav {
width: 20vw;
}

.MenuAndCards main {
width: 80vw;
}
