.TagP {
  text-align: center;
}

.ContainerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.SearchInput {
  border-radius: 10px;
}

.MenuAndCards {
  display: flex;
}

.MenuAndCards nav {
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.MenuAndCards nav label {
  padding-bottom: 10px;
  padding-left: 50px;
}

.MenuAndCards nav h1 {
  padding-bottom: 20px;
  text-align: center;
}

.MenuAndCards main {
  width: 80vw;
}

.SearchDiv {
  display: flex;
}

.Header {
  display: flex;
}

.CartButton {
  font-size: 30px;
  position: absolute;
  right: 10px;
}
